dn: cn={{ openldap.default_group }},ou=groups,{{ openldap.olc_suffix_dn }}
objectClass: posixGroup
objectClass: top
cn: {{ openldap.default_group }}
gidNumber: {{ openldap.default_group_gid }}
{% for user in hash_add_users.results %}
memberUid: {{ user.item.uid }}
{% endfor %}
