{% for user in hash_add_users.results %}
dn: uid={{ user.item.uid }},ou=users,{{ openldap.olc_suffix_dn }}
objectClass: top
objectClass: posixAccount
objectClass: account
uid: {{ user.item.uid }}
cn: {{ user.item.uid }}
uidNumber: {{ user.item.uid_number }}
gidNumber: {{ user.item.gid_number }}
homeDirectory: {{ user.item.home_directory }}
loginShell: /bin/bash
userPassword: {{ user.stdout_lines.0 }}

{% endfor %}
