dn: olcDatabase={1}monitor,cn=config
changetype: modify
replace: olcAccess
olcAccess: {0}to * by dn.base="gidNumber=0+uidNumber=0,cn=peercred,cn=external
 ,cn=auth" read by dn.base="cn={{ openldap.olc_root_dn }}" read by * none

dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcAccess
olcAccess: {0}to attrs=userPassword by dn="{{ openldap.olc_root_dn }}" write by anonymous auth by self write by * none
olcAccess: {1}to * by dn="{{ openldap.olc_root_dn }}" write by * read
