{% for user in pubkey.results %}
dn: uid={{ user.item.uid }},ou=users,{{ openldap.olc_suffix_dn }}
changetype: modify
add: objectClass
objectClass: ldapPublickey
-
add: sshPublicKey
sshPublicKey: {{ user.stdout_lines.0 }}

{% endfor %}
