DROP DATABASE IF EXISTS redmine;
CREATE DATABASE redmine CHARACTER SET utf8mb4;
GRANT USAGE ON *.* TO 'redmine'@'localhost' IDENTIFIED BY '{{ redmine.mysql_password }}';
DROP USER 'redmine'@'localhost';
CREATE USER 'redmine'@'localhost' IDENTIFIED BY '{{ redmine.mysql_password }}';
GRANT ALL PRIVILEGES ON redmine.* TO 'redmine'@'localhost';
